<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch {{ movie.title }} - Hexa Flix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}" class="site-logo">Hexa Flix</a>
        <div class="search-form">
            <form action="{{ url_for('search') }}" method="get">
                <input type="text" class="search-bar" name="query" placeholder="Search...">
            </form>
        </div>
    </header>

    <div class="player-container">
        <iframe src="{{ movie_player_url }}" allowfullscreen></iframe>
    </div>
</body>
</html>
